<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
  </configSections>
  <configBuilders>
    <builders>
      <add name="Secrets" userSecretsId="3f8aafbc-6c3f-4864-861d-8844d2b8f68f" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </builders>
  </configBuilders>
  <connectionStrings>
    <add name="ögrenci_bilgi_sistemi.Properties.Settings.OgrenciDersYonetimiConnectionString" connectionString="Data Source=DESKTOP-7EPCTQ4;Initial Catalog=OgrenciDersYonetimi;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="ögrenci_bilgi_sistemi.Properties.Settings.OgrenciYonetimConnectionString" connectionString="Data Source=DESKTOP-3O12109;Initial Catalog=OgrenciYonetim;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>